<!DOCTYPE html>
<html>
<head>
  <title>Descrição do Desenvolvedor</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    
    h1 {
      color: #333;
    }
    
    p {
      color: #666;
    }
    
    ul {
      list-style-type: square;
      margin-left: 20px;
    }
  </style>
</head>
<body>
  <h1>Descrição do Desenvolvedor</h1>
  
  <h2>Informações Pessoais</h2>
  <ul>
    <li><strong>Nome:</strong> Gabriel Pancaldi</li>
    <li><strong>Idade:</strong> 23 anos</li>
    <li><strong>Localização:</strong> Cornélio Procópio</li>
  </ul>
  
  <h2>Habilidades</h2>
  <ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>ExpressJS</li>
    <li>NodeJS</li>
  </ul>
    
  <h2>Educação</h2>
  <ul>
    <li>
      <strong>UTFPR</strong> - Bacharelado em Engenharia de Software
    </li>
  </ul>
  
</body>
</html>
