<!DOCTYPE html>
<html>
<head>
  <title>Descrição do Projeto</title>
</head>
<body>
  <h1>Descrição do Projeto</h1>
    <p>O MinhaDieta é um gerenciador de refeições para pessoas que desejam organizar sua dieta, ele conta com o cadastro de refeições onde a pessoa pode colocar uma refeição 
    personalizada de acordo com suas necessidades. Também é possivel realizar o cadastro de alimentos para que a pessoas possa selecionar a partir de uma lista qual alimentos vai inserir na sua refeição. </p>
</body>
</html>
