<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <title>MinhaDieta</title>
    <link rel="icon" type="image/x-icon" href="/imgs/dieta.png">
    <link rel="stylesheet" type="text/css" href="/desenvolvedor.css">
  
</head>
<body class="flex-container">


  <header class="flex-header">

        <div class="logo">
            <img class="dieta" src="/imgs/dieta.png" alt="">
            <span>MinhaDieta</span>
        </div>
  </header>

  <h1>Tecnologias e Ferramentas Utilizadas</h1>
  
  <h2>Linguagens de Programação</h2>
  <ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
  </ul>
  
  <h2>Frameworks e Bibliotecas</h2>
  <ul>
    <li>NodeJS</li>
    <li>ExpressJS</li>
  </ul>
  
  <h2>Bancos de Dados</h2>
  <ul>
    <li>MySQL</li>
  </ul>
  
  <h2>Ferramentas de Desenvolvimento</h2>
  <ul>
    <li>Git</li>
    <li>GitHub</li>
    <li>VS Code</li>
  </ul>


  <footer class="flex-footer">
        <a href="http://localhost:3000/desenvolvedor">Desenvolvedor</a>
        <a href="http://localhost:3000/contato" >Contato</a>
        <a href="http://localhost:3000/sobre" >Sobre</a>
        <a href="http://localhost:3000/tecnologia" >Tecnologia</a>
    </footer>
  
</body>
</html>
